# PANDAS

In [40]:
import pandas as pd

df = pd.read_csv("datos.csv")
print(df)

    nombre   apellido  edad
0    James  Contreras    23
1  Juanito    Alimaña    45
2    Pedro     Navaja    32
3   Pancho      Lopez    52
4    Pedro     Pascal    25
5    Julio    Velarde    73

In [41]:
#Obteniendo los datos de la columna nombre
print(df["nombre"])

0      James
1    Juanito
2      Pedro
3     Pancho
4      Pedro
5      Julio
Name: nombre, dtype: object

In [42]:
# Asignarle nombre a las columnas

df = pd.read_csv("datos.csv", names=["name","lastname", "age"])
print(df)

      name   lastname   age
0   nombre   apellido  edad
1    James  Contreras    23
2  Juanito    Alimaña    45
3    Pedro     Navaja    32
4   Pancho      Lopez    52
5    Pedro     Pascal    25
6    Julio    Velarde    73

In [43]:
# Ordenando los datos por la edad en forma ascendente
df = pd.read_csv("datos.csv")
df_ordernado = df.sort_values("edad")
print(df_ordernado)

    nombre   apellido  edad
0    James  Contreras    23
4    Pedro     Pascal    25
2    Pedro     Navaja    32
1  Juanito    Alimaña    45
3   Pancho      Lopez    52
5    Julio    Velarde    73

In [44]:
# Ordenando los datos por la edad en forma descendente
df = pd.read_csv("datos.csv")
df_ordernado = df.sort_values("edad", ascending=False)
print(df_ordernado)

    nombre   apellido  edad
5    Julio    Velarde    73
3   Pancho      Lopez    52
1  Juanito    Alimaña    45
2    Pedro     Navaja    32
4    Pedro     Pascal    25
0    James  Contreras    23

In [45]:
# Concatenando dataframes

df1 = pd.read_csv("datos.csv")
df2 = pd.read_csv("datos.csv")

df_concatenado = pd.concat([df,df2])
print(df_concatenado)

    nombre   apellido  edad
0    James  Contreras    23
1  Juanito    Alimaña    45
2    Pedro     Navaja    32
3   Pancho      Lopez    52
4    Pedro     Pascal    25
5    Julio    Velarde    73
0    James  Contreras    23
1  Juanito    Alimaña    45
2    Pedro     Navaja    32
3   Pancho      Lopez    52
4    Pedro     Pascal    25
5    Julio    Velarde    73

In [48]:
# Mostrar las primeras n filas
primeras_filas = df.head(3)

print(primeras_filas)

    nombre   apellido  edad
0    James  Contreras    23
1  Juanito    Alimaña    45
2    Pedro     Navaja    32

In [49]:
# Mostrar las ultimas n filas
ultimas_filas = df.tail(3)

print(ultimas_filas)

   nombre apellido  edad
3  Pancho    Lopez    52
4   Pedro   Pascal    25
5   Julio  Velarde    73

In [52]:
# Mostrando la cantidad de filas y columnas
# La funcion devuelve la tupla (filas, columnas)
fila_columnas = df.shape

print(fila_columnas)

(6, 3)

In [53]:
# Obteniendo data estadistica del dataframe
df_info = df.describe()

print(df_info)

            edad
count   6.000000
mean   41.666667
std    19.075289
min    23.000000
25%    26.750000
50%    38.500000
75%    50.250000
max    73.000000

# Accediento a un elemento especifico del dataframe

In [61]:

# La estructura de loc es la siguiente : .loc[fila,"columna"]
elemento = df.loc[2, "edad"]
print(elemento)

32

In [62]:
# La estructura de iloc es la siguiente : .iloc[indice_fila,indice_columna]
elemento = df.iloc[2, 2] 
print(elemento)

32

In [63]:
# Mostrando todos los registros de una columna
elemento = df.loc[:, "nombre"]
print(elemento)

0      James
1    Juanito
2      Pedro
3     Pancho
4      Pedro
5      Julio
Name: nombre, dtype: object

In [64]:
# Mostrando todos los campos de una fila
elemento = df.loc[2, :]
print(elemento)

nombre       Pedro
apellido    Navaja
edad            32
Name: 2, dtype: object

In [66]:
# Mostrando todos los registros que cumplan una condicion
condicion = df.loc[df["edad"] >30, :]

print(condicion)

    nombre apellido  edad
1  Juanito  Alimaña    45
2    Pedro   Navaja    32
3   Pancho    Lopez    52
5    Julio  Velarde    73